.text-bold {
    font-weight: bold;
}

.header-sm {
    font-size: 14px !important;
}

.header-md {
    font-size: 16px !important;
}

.header-lg {
    font-size: 18px !important;
}

.header-xg {
    font-size: 20px !important;
}